{%extends 'applipizza/base.html'%}

{%block title%}Détails de la pizza {%endblock%}

{%block content%}
    <h2>Voici notre pizza </h2>
  {{ pizza }}

  <div class="descriptioncompo">
    <h3>Composition</h3>
    <p>Votre pizza contient {{ compo|length }} ingrédients</p>
  </div>

  <table class="listeing">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Quantité</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
  {% for ing in compo %}
    <tr>
        <td>{{ ing.nom}}</td>
        <td>{{ ing.qte }}</td>

        <td class="td_delete">
            <a href="/pizzas/{{pizza.idPizza}}/deleteIngredient/{{ing.idComposition }}">Supprimer</a>
    </tr>
   
{% endfor %}
</tbody>
</table>
<hr>
<div class="form">
  <h2>
    Ajouter un ingrédient
  </h2>
  <form class="addcomp_form" action="/pizzas/{{pizza.idPizza}}/addIngredient" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Ajouter">
  </form>
</div>
    
{% endblock %}