

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>les pizzas</title>
</head>
<body>
    <header>
        <nav>
            <div><a href="/pizzas/">Les pizzas</a></div>
            <div><a href="/ingredients/">Les ingredients</a></div>
        </nav>
    </header>
    <main>
        <h2>Voici nos {{ pizzas|length }} pizzas</h2>
        <ul>
            {% for pizza in pizzas %}
                <li>
                    {{ pizza }}
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>© 2023 - WebPizza</p>
    </footer>
</body>
</html>