{% extends 'applipizza/base.html' %}

{% block title %}Les pizzas{% endblock %}

{% block content %}
    <h2>Voici nos {{ pizzas|length }} pizzas</h2>
    <ul class="allpizzas">
        {% for pizza in pizzas %}
            <li>
                {{ pizza }}
                <a href="/pizzas/{{ pizza.idPizza }}">détails sur la pizza</a>
                <small>               
                <a href="/pizzas/{{ pizza.idPizza }}/update">Modifier</a>
                <a href="/pizzas/{{ pizza.idPizza }}/delete">Supprimer</a>
                </small>

            </li>
        {% endfor %}
    </ul>
{% endblock %}





