{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'applipizza/css/styles.css' %}">
    <link rel="icon" href="{% static 'applipizza/img/pizza.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>

    </header>
    <main>
        {% block contenu %}{% endblock %}
        <div id="div_image_accueil">
        </div>
    </main>
    <footer>
        <p>© 2023 - WebPizza</p>
    </footer>
    
</body>
</html>