{% extends 'connexion/base.html' %} 

{% block contenu %}
  {% if validlink %}
    <h2>Réinitialisation du mot de passe</h2>
    <p>Choisissez un nouveau mot de passe</p>
    <form method="post">
      {% csrf_token %} 
      {% if form.new_password1.errors %} 
        {% for error in form.new_password1.errors %}
          <p class="alert alert-danger">{{ error }}</p>
        {% endfor %} 
      {% endif %}
      {% if form.new_password2.errors %} 
        {% for error in form.new_password2.errors %}
          <p class="alert alert-danger">{{ error }}</p>
        {% endfor %} 
      {% endif %}
      <table>
        <tr>
          <td>
            <label for="id_new_password1">Nouveau mot de passe : </label>
          </td>
          <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>
            <label for="id_new_password2">Confirmation du mot de passe : </label>
          </td>
          <td>{{ form.new_password2 }}</td>
        </tr>

      </table>
      <button type="submit">Valider</button>
    </form>
  {% endif %}
{% endblock %}
