{% extends 'connexion/base.html' %}



{% block contenu %}
<h2>Réinitialisation du mot de passe </h2>
<p>Mot de passe perdu ? </p>
<p>Saisissez votre adresse électronique dans le formulaire</p>
<p>Nous vous enverrons les instructions pour en créer un nouveau</p>
<form id="form_login" method="post">
 {% csrf_token %}
 {% if form.email.errors %}
     {% for error in form.email.errors %}
         <p class="alert alert-danger">{{ error }}</p>
     {% endfor %}
 {% endif %}
 <p>{{ form.email.label_tag }} {{ form.email }}</p>
 <button type="submit">Envoyer instructions </button>
</form>
{% endblock %}
